@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #E4E5DB;
}

.profile__btn {
  @apply flex gap-3 p-2 w-[10rem] justify-center items-center text-white rounded-b-xl cursor-pointer;
}

.profile__upward__btn {
  @apply flex gap-1 p-1 w-[10rem] items-center text-white
}

.role__btn {
  @apply px-2 transition-transform duration-1000 rounded-md
}

.select-input {
  position: relative;
}

.select-input::after {
  position: absolute;
  content: "▼";
  font-size: .75rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.select-input > select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
}